@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- https://localhost:7126/Customers/New -->

<h2>@Model.Title</h2>

<!-- Our Form -->
@using (Html.BeginForm(actionName: "Save", controllerName: "Customers"))
{
    @Html.ValidationSummary()

    <div class="form-group mb-3">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(c => c.Customer.Birthdate)
        @Html.TextBoxFor(c => c.Customer.Birthdate, "{0:MM/dd/yyyy}", new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>  
    <div class="form-group mb-3">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "-- Select Membership Type --", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="checkbox mb-3">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>

    // Hidden field contains value that you want to pass in the form but not show it in the website.
    @Html.HiddenFor(c => c.Customer.Id)
    @Html.AntiForgeryToken()

    <!-- Button -->
    <button class="btn btn-primary" type="submit">Save</button>
}